<template>
    <div class="columns">
       <div class="column is-8 is-offset-2">
           <event></event>
           <event></event>
           <event></event>
       </div>
    </div>
</template>

<script>
    import studioLabel from '@/components/common/_studioLabel'
    import event from './_event'

    export default {
        components: {
            studioLabel,
            event
        },
        data(){
            return {
                title: 'Звезда'
            }
        }
    }
</script>

<style scoped>

</style>