<template>
    <div class="event-block">
        <b-notification>
            <studio-label :logo="false" title="АльфаЦентавра"></studio-label>
            <span class="event"> 
                <strong> {{ event.type }} </strong>
                {{ event.target }} <router-link target="_blank" :to="event.url"> {{ event.targetName }} </router-link>
            </span>
            <span class="event-date"> ({{ event.date }}) </span>
        </b-notification>
    </div>
</template>

<script>
    import studioLabel from '@/components/common/_studioLabel'

    export default {
        components: {
            studioLabel
        },
        data(){
            return {
                event: {
                    type: 'Начал публикацию',
                    target: 'сериала',
                    targetName: 'Темный космос',
                    url: '/catalog',
                    date: '12 марта, 12:04'
                }
            }
        }
    }
</script>

<style scoped lang="scss">

.event-block{
    margin-bottom: 15px;
}

.event {
    display: inline-block;
    margin-left: 15px;

    &-date{
        margin-top: 0px;
        position: relative;
        font-style: italic;
        color: grey;

        // &::before {
        //     content: '';
        //     position: absolute;
        //     height: 1px;
        //     width: 15%;
        //     background-color: black;
        //     top: -3px;
        //     left: 0;
        // }
    }
}



</style>