<template>
    <div class="navbar-menu">
        <div class="navbar-end">
            <b-dropdown                    
                v-model="navigation"
                position="is-bottom-left"
                aria-role="menu">
                <a
                    class="navbar-item"
                    slot="trigger"
                    role="button">
                    <h5 class="username"> {{ username }} </h5>
                    <div class="user-dropdown-avatar" id="user-avatar" :class="userAvatar"></div>
                </a>

                <b-dropdown-item custom aria-role="menuitem">
                    Вы вошли как <b>{{ username }}</b>
                </b-dropdown-item>
                <hr class="dropdown-divider">

                <b-dropdown-item has-link value="products" aria-role="menuitem">
                    <router-link to="/subscriptions">
                        <b-icon icon="book-open-variant"></b-icon>
                        Подписки
                    </router-link>
                </b-dropdown-item>

                <b-dropdown-item has-link value="news" aria-role="menuitem">
                    <router-link to="/news">
                        <b-icon icon="rss"></b-icon>
                        Новости
                     </router-link>
                </b-dropdown-item>
                
                <b-dropdown-item has-link value="profile" aria-role="menuitem">
                    <router-link to="/profile">
                        <b-icon icon="home"></b-icon>
                        Профиль
                    </router-link>
                </b-dropdown-item>
                
                <b-dropdown-item value="blog" disabled aria-role="menuitem">
                    <b-icon icon="book-open"></b-icon>
                    Блог
                </b-dropdown-item>
                <hr class="dropdown-divider" aria-role="menuitem">
                <b-dropdown-item has-link value="settings">
                    <router-link to="/settings">
                        <b-icon icon="settings"></b-icon>
                        Настройки
                    </router-link>
                </b-dropdown-item>
                <b-dropdown-item @click="signout" value="logout" aria-role="menuitem">
                    <b-icon icon="logout"></b-icon>
                    Выйти
                </b-dropdown-item>
            </b-dropdown>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            "username",
            "avatar"
        ],
        data(){
            return{
                navigation: 'home'
            }
        },
        computed: {
            userAvatar(){
                return {
                    'default': ~~this.avatar,
                    'userAvatar': this.avatar
                }
            }
        },
        methods: {
            signout(){
                this.$store.commit('SIGNOUT');
            }
        },
        mounted(){
            if (this.avatar){
                let avatar = this.$el.querySelector('#user-avatar');
                avatar.setAttribute(
                    'style',
                    `background-image: url(${this.avatar})`
                )
            }
            
        }
    }
</script>

<style scoped lang="scss">
.user-dropdown-avatar{
    // background-image: url('https://randomuser.me/api/portraits/women/68.jpg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    margin-left: 7px;
}

.default{
    background-color: silver;
}

.username{
    font-weight: bold;
}
.profile-link{
    color: black;
    &.router-link-active{
        color: white;
    }
}
.dropdown-item{
    .is-active{
        &.router-link-active{
            color: white;
        }
    }
}
</style>