<template>
    <div class="navbar-menu">
        <div class="navbar-start">
            <router-link class="navbar-item" :to="item.href" v-for="(item, i) in menuItems" :key="`menuItem${i}`">
                <b-icon custom-size="mdi-18px" class="menuItem-icon" :icon="item.icon"></b-icon>
                <span>{{ item.title }}</span>
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                menuItems: [
                    {
                        title: 'Главная',
                        href: '/',
                        icon: 'home'
                    },
                    {
                        title: 'Студии',
                        href: '/studios',
                        icon: 'view-dashboard-variant'
                    },
                    {
                        title: 'Сериалы',
                        href: '/serials',
                        icon: 'book-open-page-variant'
                    },
                ]
            }
        }
    }
</script>

<style scoped lang="scss">

.navbar-item{
    position: relative;
    font-weight: 500;
}

.navbar-item:hover::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to right, #ff00cc, #333399);
    background-size: 1200% 1200%;
    animation: gradient-animate 5s linear infinite, scale .1s ease;
}

.menuItem-icon{
    margin-right: 5px;
}

@keyframes gradient-animate {
    from{
        background-position: 0%;
    }
    50%{
        background-position: 95%;
    }
    to{
        background-position: 0%;
    }
}

@keyframes scale {
    from{
        transform: scale(0)
    }
    to{
        transform: scale(1)
    }
}
</style>