<template>
    <div class="navbar-brand">
        <router-link :class="{'main-logo-container': size == 'big'}" to="/">
            <img :class="classObj" src="@/assets/main-logo.png" alt="Logo">
        </router-link>
    </div>
</template>

<script>
    export default {
        name: 'main-logo',
        props: [
            'size'
        ],
        data(){
            return{
                classObj: {
                    'main-logo': this._props.size == 'small',
                    'main-logo-big': this._props.size == 'big',
                }
            }
        }
    }
</script>

<style scoped lang="scss">

.main-logo-container{
    display: block;
    margin: {
        top: 50px;
        left: auto;
        right: auto;
        bottom: 15px;
    }
}

.main-logo{
    // max-width: 75px;
    max-height: 55px;
    margin-top: 7px;
}

.main-logo-big{
    max-height: 250px;
    margin-bottom: 15px;

}
</style>