<template>
    <div class="notification-bar">
        <div class="users-notification">
            <b-icon  custom-size="mdi-18px" icon="message-text"></b-icon>
            <b-tag class="notification-tag" type="is-danger">5</b-tag>
        </div>
        <router-link to="/reader">
            <div class="users-notification book-open-variant">
                <b-icon custom-size="mdi-18px" icon="book-open-variant"></b-icon>
            </div>
        </router-link>
        <b-dropdown
                class="users-notification cash-usd"                    
                position="is-bottom-left"
                aria-role="menu">

                <b-icon slot="trigger" custom-size="mdi-18px" icon="cash-usd"></b-icon>

                <b-dropdown-item custom aria-role="menuitem">
                    <p> 
                        На Вашем счету <strong>211р.</strong> 
                    </p> 
                    <br>
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button cash is-success">
                            Пополнить
                            </a>
                        </p>
                        <p class="control">
                            <a class="button cash is-danger">
                            Статистика
                            </a>
                        </p>
                    </div>
                </b-dropdown-item>
        </b-dropdown>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped lang="scss">
.notification-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
}

.users-notification{
    color: #000;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    position: relative;

    &:hover{
        color: #7957d5;
    }

    .notification-tag{
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 99;
        font-size: 9px;
        font-weight: bold;
    }
}

.book-open-variant, .cash-usd{
    margin-top: -4px;
}

.cash{
    font-size: 14px;
}

</style>