<template>
    <b-dropdown position="is-bottom-left" aria-role="menu">
                    <a  
                        class="navbar-item"
                        slot="trigger"
                        role="button">
                        <span>
                            <button class="button is-link is-outlined"> Регистрация </button>
                        </span>
                    </a>

                    <b-dropdown-item aria-role="menu-item" custom paddingless>
                        <form action="">
                            <div class="modal-card" style="width:300px;">
                                <section class="modal-card-body">
                                    
                                    <transition name="fade">
                                        <b-message v-if="error" class="is-danger">
                                            {{error}}
                                        </b-message>
                                    </transition>

                                    <b-field 
                                        label="Логин">
                                        <b-input
                                            v-model="login"
                                            placeholder="Логин"
                                            required>
                                        </b-input>
                                    </b-field>

                                    <b-field label="Пароль">
                                        <b-input
                                            v-model="password"
                                            type="password"
                                            password-reveal
                                            placeholder="Пароль"
                                            required>
                                        </b-input>
                                    </b-field>

                                </section>
                                <footer class="modal-card-foot">
                                    <button @click.prevent="signup" class="button is-info">Регистрация</button>
                                </footer>
                            </div>
                        </form>
                    </b-dropdown-item>
                </b-dropdown>
</template>

<script>
    export default {
        data(){
              return {
                  login: '',
                  password: ''
              }  
        },
        methods: {
            signup(){
                let user = {
                    login: this.login,
                    password: this.password
                }
                this.$store.dispatch('SIGNUP', user);
                // this.$store.commit('CLEAN_ERROR');
            },
            danger(){
                
            },
        },
        computed: {
            error(){
                return this.$store.getters.getError
            }
        }
    }
</script>

<style scoped lang="scss">
.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}
.fade-enter, .fade-leave-to {
  transform: translateX(15px);
  opacity: 0;
}
</style>