<template>
    <b-notification :active="isActive" v-on:close="noteClosed" id="private-note" class="column private-note" type="is-warning">
        <span class="label"> {{ note.title }} </span>
        <p>
            {{ note.content }} <b-icon icon="lead-pencil" class="edit-icon"></b-icon>
        </p>
    </b-notification>
</template>

<script>
    export default {
        props: [
            "note",
            "isActive"
        ],
        methods: {
            noteClosed(){
                this.$emit('noteClosed')
            }
        }
    }
</script>

<style scoped lang="scss">

.private-note{
    position: absolute;
    min-width: 200px;
    max-width: 350px;

    .edit-icon{
        cursor: pointer;
        &:hover{
            color: grey;
        }
    }

}

</style>