<template>
    <div class="settings-item">
        <div class="settings-name-heading">
            <div>
                <b-icon class="settings-icon" :icon="iconName"></b-icon>
                <span class="subtitle is-6 settings-name"> {{ settingsName }} </span>
            </div>
            <span class="settings-value"> {{ settingsValue }} </span>
        </div>
        <slot></slot>
    </div>
</template>

<script>
    export default {
        props: [
            "settingsName",
            "settingsValue",
            "iconName"
        ]
    }
</script>

<style scoped lang="scss">

.settings{
    &-name{
        display: inline-block;
        margin-bottom: 15px;

        &-heading{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &-value{
        font-size: 18px;
    }   
    &-btn{
        cursor: pointer;
        color: black;
    }
    &-item{
        margin-bottom: 30px;
    }
    &-icon{
        margin-right: 7px;
    }
}

</style>