<template>
    <router-link v-if="isLink" :to="url">
        <span class="btn-topbar">
            <b-icon :icon="iconType"></b-icon>
        </span>
    </router-link>
    <span v-else class="btn-topbar">
        <b-icon :icon="iconType"></b-icon>
    </span>
</template>

<script>
    export default {
        props: [
            "iconType",
            "url",
            "isLink"
        ],
        data(){
            return {

            }
        }
    }
</script>

<style scoped>

</style>