<template>
    <div class="error-block">
        <h2 class="subtitle is-3"> Упс! Страница или файл не найдены 😓</h2>
        <router-link to="home">
            <button class="button is-link"> На главную </button>
        </router-link>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped lang="scss">

.error-block{
    text-align: center;
    margin-top: 10%;
    
    h2, button{
        font-family: 'Pacifico', sans-serif;
    }
}

</style>