<template>
  <div class="home">
    <h1 class="title top-title">TOP студий</h1>
    <carousel-3d :controls-visible="true" :width="250" :height="150">
      <slide :index="0">
        <studio-label title="LitLove"></studio-label>
      </slide>
      <slide :index="1">
        <studio-label title="ZlphaZ"></studio-label>
      </slide>
      <slide :index="2">
        <studio-label title="untitles"></studio-label>
      </slide>
      <slide :index="3">
        <studio-label title="universe"></studio-label>
      </slide>
      <slide :index="4">
        <studio-label title="Quote"></studio-label>
      </slide>
      <slide :index="5">
        <studio-label title="Quote"></studio-label>
      </slide>
      <slide :index="6">
        <studio-label title="Quote"></studio-label>
      </slide>
    </carousel-3d>
  </div>
</template>

<script>
// @ is an alias to /src
import { Carousel3d, Slide } from 'vue-carousel-3d';
import studioLabel from '@/components/common/_studioLabel.vue'

export default {
  name: 'home',
  components: {
    Carousel3d,
    Slide,
    studioLabel
  },
  data(){
    return {
      slides: [

      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.carousel-3d-container{
  max-width: 900px;
}

.carousel-3d-slide{
  background-color:transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.top-title{
  text-align: center;
}
</style>
