<template>
    <div class="error-block">
        <h2 class="title is-1"> Что-то пошло не так... 😓</h2>
        <h2 class="subtitle is-4"> Мы уже в курсе и решаем проблему! </h2>
        <router-link to="home">
            <button class="button is-danger"> Спасибо </button>
        </router-link>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped lang="scss">

.error-block{
    text-align: center;
    margin-top: 10%;
    
    h2, button{
        font-family: 'Pacifico', sans-serif;
    }
}

</style>