<template>
    <div class="columns is-mobile">
        <div class="column is-4 is-offset-4">
            <main-logo size="big"></main-logo>
            <h2 class="subtitle"> Войти </h2>
            <b-field label="Username"
                type="is-success"
                message="This username is available">
                <b-input value="johnsilver" maxlength="15"></b-input>
            </b-field>
            <b-field message="Неправильный пароль" label="Password" type="is-danger">
                <b-input type="password"
                    value="iwantmytreasure"
                    
                    password-reveal>
                </b-input>
            </b-field>
            
            <div class="buttons has-addons is-centered">
                <span class="button is-info is-outlined">Войти</span>
            </div>
        </div>
    </div>
</template>

<script>
    import mainLogo from '../components/mainNavbar/_mainLogo'

    export default {
        name: 'login',
        components:{
            mainLogo
        }
    }
</script>

<style scoped lang="scss">

.subtitle{
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 24px;
}
.button{
   margin-top: 15px;
   background-color: #fff;
}

</style>