<template>
    <div>
        <profile-header></profile-header>
        <profile-tabs></profile-tabs>
    </div>
</template>

<script>
    import profileHeader from '../components/userProfile/_userProfileHeader'
    import profileTabs from '../components/userProfile/_userProfileTabs'

    export default {
        components: {
            profileHeader,
            profileTabs
        }
    }
</script>

<style scoped>

</style>