<template>
    <div class="panel reader" 
        :class="{   'dark-theme': theme == 'dark',
                    'paper-theme': theme == 'paper' }" >
        <transition name="fade">
            <div v-if="hasTopBar" class="panel-heading">
                <div class="reader-logo">
                    <div class="solid-logo" :class="{ 'color-white': theme == 'dark', 'color-black': theme == 'lite' || theme == 'paper' }" ></div>
                    <span class="subtitle reader-title"> 
                        Книга-Сериал
                    </span>
                </div>
                <div class="topbar-buttons">
                    <topbar-button :isLink="true" iconType="arrow-left" url="/"></topbar-button>
                    <topbar-button :isLink="true" iconType="account-circle" url="profile"></topbar-button>
                    <b-dropdown   
                        class="fullscreen-btn"                  
                        position="is-bottom-left"
                        aria-role="menu">
                        <a
                            slot="trigger"
                            role="button">
                            <topbar-button iconType="settings-outline"></topbar-button>
                        </a>

                        <b-dropdown-item custom class="settings-dropdown" aria-role="menuitem">
                            <span class="subtitle is-5">
                                <b-icon icon="settings-outline"></b-icon>&nbsp;<b>Настройки</b>
                            </span>
                            <hr/>
                            <settings-item iconName="format-size" settingsName="Размер шрифта" :settingsValue="fontSize">
                                <slider type="danger" :isFullwidth="true" v-on:change="fontSizeSlide" :value="fontSize" :min="16" :max="36" :step="2"></slider>
                            </settings-item>
                            <settings-item iconName="format-line-spacing" settingsName="Высота строки" :settingsValue="lineHeight">
                                <slider type="warning" :isFullwidth="true" v-on:change="lineHeightSlide" :value="lineHeight" :min="30" :max="48" :step="2"></slider>
                            </settings-item>
                            <settings-item settingsName="Шрифт" iconName="format-color-text">
                                <b-field>
                                    <b-select  v-on:input="changeFont" :placeholder="currentFont" expanded>
                                        <option value="Monserrat">Monserrat</option>
                                        <option value="Pacifico">Pacifico</option>
                                        <option value="EB Garamond">Garamond</option>
                                    </b-select>
                                </b-field>
                            </settings-item>
                            <div class="field settings-switcher">
                                <span class="switch-label">Тема Dark</span> 
                                <b-switch v-on:input="switchTheme" size="is-small"  v-model="theme" :value="theme" true-value="dark" false-value="none" type="is-success"></b-switch>
                            </div>
                            <div class="field settings-switcher">
                                <span class="switch-label">Тема Paper</span> 
                                <b-switch v-on:input="switchTheme" size="is-small"  v-model="theme" :value="theme" true-value="paper" false-value="none" type="is-info"></b-switch>
                            </div>
                            <div class="field settings-switcher">
                                <span class="switch-label">Тема Lite</span> 
                                <b-switch v-on:input="switchTheme" size="is-small"  v-model="theme" true-value="lite" false-value="none" :value="theme.lite" type="is-danger"></b-switch>
                            </div>
                        </b-dropdown-item>
                    </b-dropdown>
                    <span @click="toggleFullScreen" class="btn-topbar">
                        <b-icon v-if="isFullScreen == false" icon="fullscreen"></b-icon>
                        <b-icon v-else icon="fullscreen-exit"></b-icon>
                    </span>
                </div>
            </div>
        </transition>
        <div class="container">
            <div class="panel-block">
                <div class="columns">
                    <private-note :isActive="isNoteOpen" v-on:noteClosed="isNoteOpen = false" :note="currentNote"></private-note>
                    <div id="text-content" class="column is-12 text-content">
                        <h2 class="subtitle"> {{ episode.header }} </h2>
                        
                        <p v-for="(p, i) in prgs" :key="i" :id="`p-${i}`">
                            {{ p }}
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import slider from 'vue-bulma-slider'
    import topbarButton from '@/components/reader/_topbarButton'
    import settingsItem from '@/components/reader/_settingsItem'
    import privateNote from '@/components/reader/_privateNote'
    /* FIXME: */ import testEp from '@/MOCK/testEp.js' 

    export default {
        data(){
            return {
                // Параметр отображения на полный экран
                isFullScreen: false,
                
                // Параметры текста 
                fontSizeValue: null,
                lineHeightValue: null,

                // Временные значения для текста
                episode: testEp,
                prgs: testEp.prgs,

                // Текущая тема читалки
                theme: 'lite',

                hasTopBar: true,

                // Параметры для функционала заметок
                currentNote: {
                    title: 'Test',
                    content: 'Test content and long long note from user, i dont want to have a very long notes and so on'
                },
                isNoteOpen: false
            }
        },
        computed: {
            intencity(){
                return parseInt(this.intencityValue)
            },
            fontSize(){
                return parseInt(this.fontSizeValue)
            },
            lineHeight(){
                return parseInt(this.lineHeightValue)
            },
            currentFont(){
                return localStorage['readerFont'] || 'Arial';
            }
        },
        components: {
            slider,
            topbarButton,
            settingsItem,
            privateNote
        },
        methods: {
            toggleFullScreen(){
                if(!document.fullscreenElement){
                    this.$el.requestFullscreen();
                    this.isFullScreen = true
                } else {
                    if (document.exitFullscreen){
                        document.exitFullscreen();
                    }
                    this.isFullScreen = false
                }
            },
            fontSizeSlide(chandedData){
                this.fontSizeValue = chandedData
                localStorage['readerFontSize'] = chandedData
            },
            lineHeightSlide(chandedData){
                this.lineHeightValue = chandedData
                localStorage['readerlineHeight'] = chandedData
            },
            // Вызов snackbar
            danger(){
                this.$snackbar.open({
                    duration: 3000,
                    message: 'Глобальная нотификация настроена',
                    type: 'is-danger',
                    position: 'is-bottom-right',
                    actionText: 'Got it!',
                    queue: false
                });
            },
            switchTheme(value){

                if (value) {
                    this.theme = value
                    localStorage['readerTheme'] = value
                }
                if (value == 'dark'){
                    document.documentElement.style.backgroundColor = 'black';
                } else if (value == 'paper'){
                    document.documentElement.style.backgroundColor = '#fff8e1';
                } else {
                    document.documentElement.style.backgroundColor = 'white';
                }
                if (this.theme == 'none'){
                    this.theme = 'lite'
                }

            },
            setTextParams(fSize, lHeight, font){
                let content = document.getElementById('text-content')
                let prgs = Array.from(content.querySelectorAll('p'))
                let headers = Array.from(content.querySelectorAll('h2'))
                
                if (fSize){
                    headers.map(h => {
                        h.style.fontSize = `${fSize * 1.3}px`;
                    })

                    prgs.map(p => {
                        p.style.fontSize = `${fSize}px`;
                    })
                }

                if (lHeight){
                    prgs.map(p => {
                        p.style.lineHeight = `${lHeight}px`;
                    })
                }

                if(font){
                    content.style.fontFamily = `${font}, sans-serif`
                }
            },
            changeFont(value){
                this.setTextParams(null, null, value)
                localStorage['readerFont'] = value
            },
            setSelectionToText(node, selection){
                /*
                    Функция принимает текстовую ноду и фрагмент текста                
                */

                // Выделяем из ноды сам текст
                let content = node.nodeValue;

                // Проверяем, есть ли в тексте ноды искомый фрагмент
                if (~content.indexOf(selection)){
                    // Если да, создаем объект Range
                    // TODO: Сделать кроссбраузерно??
                    let range = document.createRange()

                    // Задаем координаты начала объекта range в нашей ноде
                    range.setStart(node, content.indexOf(selection))

                    // Задаем координаты конца объекта range в нашей ноде
                    range.setEnd(node, content.indexOf(selection) + selection.length)
                    
                    // Создаём тег обёртку для выделения
                    
                    let colorSelectionSpan = document.createElement('span');

                    // FIXME: Вынести в отдельный класс? 
                    colorSelectionSpan.style.backgroundColor = '#FF3860';
                    colorSelectionSpan.style.color = 'white';
                    colorSelectionSpan.style.padding = '3px';
                    colorSelectionSpan.style.cursor = "pointer";
                    colorSelectionSpan.style.position = 'relative';
                    

                    colorSelectionSpan.addEventListener('click', (e) => {
                        // Логика работы с заметкой при наведении курсора на выделение
                        this.isNoteOpen = true;
                        setTimeout(() => {
                            let note = document.getElementById('private-note')
                            note.style.top = `${e.clientY}px`;
                            // let left = colorSelectionSpan.getBoundingClientRect().left - pad.split('px')[0] * 2;
                            let left = e.layerX - note.getBoundingClientRect().width / 2;
                            note.style.left = `${left}px`;
                        }, 0)
                    })

                    // Оборачиваем содержимое объекта range из нашей ноды в тег-обёртку
                    range.surroundContents(colorSelectionSpan)
                }

            },
        },
        watch: {
            fontSizeValue(newSize){
                this.setTextParams(newSize)
            },
            lineHeightValue(newSize){
                this.setTextParams(null, newSize)
            },
        },
        mounted(){
            // Задаём шрифт
            if (localStorage['readerFont']){
                this.setTextParams(null, null, localStorage['readerFont'])
            }
            
            // Здесь важно получить именно текстовую ноду 
            let myNode = document.getElementById('p-0').firstChild;
            console.log(window);
            this.setSelectionToText(myNode, 'Он уже давно', document.getElementById('p-0'))
            
        },
        created(){
            // Задаём размер шрифта, либо заданный ранее, либо стандартный
            if (localStorage['readerFontSize']){
                this.fontSizeValue = localStorage['readerFontSize']
            } else {
                this.fontSizeValue = 16
            }

            // Задаём высоту строки, либо заданную ранее, либо стандартную
            if (localStorage['readerlineHeight']){
                this.lineHeightValue = localStorage['readerlineHeight']
            } else {
                this.lineHeightValue = 38
            }

            // Задаём тему, либо заданную ранее, либо стандартную
            if (localStorage['readerTheme']){
                this.switchTheme(localStorage['readerTheme'])
            } else {
                this.theme = 'lite'
            }

            let lastScrollPos = 0;
            window.addEventListener('scroll', () => {
                
                let topbar = this.$el.querySelector('.panel-heading')
                if (window.scrollY > 70){
                    this.hasTopBar = false
                } 
                
                if (window.scrollY < lastScrollPos) {
                    this.hasTopBar = true
                }
                
                lastScrollPos = window.scrollY;
            })

        },
        beforeRouteLeave(to, from, next){
            document.documentElement.style.backgroundColor = 'white';
            next();
        }
    }
</script>

<style scoped lang="scss">

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}

.reader {
    background-color: white;
    padding-top: 50px; 

    .reader-logo{
        display: flex;
        align-items: center;
        font-family: 'Pacifico', sans-serif;

        .reader-title{
            color: black;
        }

        .solid-logo{
            display: inline-block;
            height: 35px;
            width: 35px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 7px;

            &.color-black {
                background-image: url('../assets/main-logo-black.png');
            }
            &.color-white {
                background-image: url('../assets/main-logo-white.png');
            }
        }
        
    }

    .panel{
        &-heading{
            display: flex;
            justify-content: space-between;
            height: 50px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 99;

            hr {
                margin: 15px;
            }
        }

        &-block{
            border-top: none;

            .text-content{
                padding: 40px;
                & > p {
                    text-align: justify;
                    text-indent: 1.5rem;
                    margin-bottom: 10px;
                }
            }
        }


    }
}

.settings{
    &-dropdown{
        max-width: 400px;
        min-width: 320px;
    }
    &-switcher{
        display: flex;

        .switch-label{
            margin-right: 10px;
            min-width: 80px;
        }
    }
}

.btn{
    &-topbar{
        cursor: pointer;
    }
}

.dark-theme{
    background-color: black;

    .panel-heading{
        background-color: black;
        color: white;

        a{
            color: white;
        }

        .reader-title{
            color: white;
        }
    }
    h2 {
        color: white;
    }
    .text-content{
        color: white;
    }
}

.paper-theme{
    background-color: #fffde7;
}
::selection{
    background-color: #FF3860;
    color: white;
}

</style>