<template>
    <div class="column is-10">
        <br>
       <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile test3 is-child box">
                <p class="title">Hello World</p>
                <p class="subtitle">What is up?</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                <p class="title">Foo</p>
                <p class="subtitle">Bar</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                <p class="title">Third column</p>
                <p class="subtitle">With some content</p>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                </div>
                </article>
            </div>
            </div>

            <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                    <p class="title">Vertical tiles</p>
                    <p class="subtitle">Top box</p>
                    </article>
                    <article class="tile is-child box">
                    <p class="title">Vertical tiles</p>
                    <p class="subtitle">Bottom box</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                    <p class="title">Middle box</p>
                    <p class="subtitle">With an image</p>
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/640x480.png">
                    </figure>
                    </article>
                </div>
                </div>
                <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Wide column</p>
                    <p class="subtitle">Aligned with the right column</p>
                    <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                    </div>
                </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                <div class="content">
                    <p class="title">Tall column</p>
                    <p class="subtitle">With even more content</p>
                    <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
                    <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
                    <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
                    </div>
                </div>
                </article>
            </div>
            </div>

            <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                <p class="title">Side column</p>
                <p class="subtitle">With some content</p>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                </div>
                </article>
            </div>
            <div class="tile is-parent is-8">
                <article class="tile is-child box">
                <p class="title">Main column</p>
                <p class="subtitle">With some content</p>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                </div>
                </article>
            </div>
            </div>
        </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped lang="scss">

.test{
    background-image: url('https://cdna.artstation.com/p/assets/images/images/000/301/308/large/bbf_sketch_undead_general_scene.jpg?1415979554');
    background-size: cover;
    color: white;

    &:hover{
        animation: trans2 6s ease-in-out both;
    }

    @keyframes trans2 {
        from{
            background-position: 0%;
        }
        to{
            background-position: 85%;
        }
    }
}

.test2{
    background-image: url('https://hdqwalls.com/download/soldier-scifi-future-war-leader-k9-2048x1152.jpg');
    background-size: cover;
    color: white;

    &:hover{
        animation: trans 6s ease-in-out both;
    }

    @keyframes trans {
        from{
            background-position-y: 0%;
        }
        to{
            background-position-y: 85%;
        }
    }
}

.test3{
    background-image: url('https://cdn-images-1.medium.com/max/2600/1*QNMyOGBlD7jmt2MWFXuIcA.jpeg');
    background-size: cover;
    color: white;

    &:hover{
        animation: tran 6s ease-in-out both;
    }

    @keyframes tran {
        from{
            background-position: 0%;
        }
        to{
            background-position: 85%;
        }
    }
}

.test4{
    background-image: url('https://images5.alphacoders.com/560/thumb-1920-560154.jpg');
    background-size: cover;
    color: white;

    &:hover{
        animation: trana 6s ease-in-out both;
    }

    @keyframes trana {
        from{
            background-position-y: 0%;
        }
        to{
            background-position-y: 85%;
        }
    }
}

.test5{
    background-image: url('http://www.frunapa.ru/sites/default/files/photo/cadr_44_222.jpg');
    background-size: cover;
    color: white;

    &:hover{
        animation: trana 6s ease-in-out both;
    }

    @keyframes trana {
        from{
            background-position-y: 0%;
        }
        to{
            background-position-y: 85%;
        }
    }
}


</style>