<template>
    <div class="navbar main-navbar">
        <div class="container">
            <main-logo size="small"></main-logo>
            <main-menu></main-menu>
            <span v-if="isAuthenticated" class="navbar-right">
                <dropdown-menu 
                    :username="userData.username" 
                    :avatar="userData.avatar">
                </dropdown-menu>
                <notification-bar></notification-bar>
            </span>
            <span v-else class="navbar-right">
                <login-button></login-button>
                <register-button></register-button>
            </span>
        </div>
    </div>
</template>

<script>
    import mainLogo from './mainNavbar/_mainLogo.vue'
    import mainMenu from './mainNavbar/_mainMenu.vue'
    import dropdownMenu from './mainNavbar/_dropdownMenu.vue'
    import notificationBar from './mainNavbar/_notificationBar.vue'
    import loginButton from './mainNavbar/_loginButton.vue'
    import registerButton from './mainNavbar/_registerButton.vue'

    export default {
        data(){
            return {
                
            }
        },
        computed: {
            isAuthenticated(){
                return this.$store.getters.getUserAuth
            },
            userData(){
                return this.$store.getters.getUserData
            }
        },
        methods: {

        },
        components: {
            mainLogo,
            mainMenu,
            dropdownMenu,
            notificationBar,
            loginButton,
            registerButton
        }
    }
</script>

<style scoped lang="scss">

.navbar-right{
    display: flex;
    align-items: center;

    .button{
        margin-left: 10px;
    }
}

</style>