<template>
    <span id="firstChar" class="first-char">
        {{ firstChar }}
    </span>
</template>

<script>
    import getColorOFChar from '@/_system/firstCharColorGenerator.js'

    export default {
        props: [
            'firstChar'
        ],
        mounted(){
            let color = getColorOFChar(this._props.firstChar)
            this.$el.style.backgroundColor = color;
        }
    }
</script>

<style scoped lang="scss">

.first-char {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    height: 38px;
    width: 38px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 22px;
}


</style>