<template>
    <span>
        <span v-if="logo" class="studio-logo">L</span>
        <span v-else>
            <first-char-logo :firstChar="title[0]"></first-char-logo>
        </span>
        <span class="studio-label">{{ title }}</span>
    </span>
</template>

<script>
    import firstCharLogo from './_firstCharLogo'

    export default {
        props: [
            'title',
            'logo'
        ],
        components: {
            firstCharLogo
        },
        data(){
            return {
                
            }
        }
    }
</script>

<style scoped lang="scss">

.studio-label {
    font-size: 16px;
}

</style>