<template>
  <div id="app">
    
      <main-navbar-component v-if="hasHeader"></main-navbar-component>
      
        <div class="container">
          <transition name="component-fade" mode="out-in">
            <router-view/>
          </transition>
        </div>


  </div>
</template>

<script>  
import mainNavbarComponent from './components/mainNavbarComponent';

export default {
  components:{
    mainNavbarComponent
  },
  data(){
    return {
      hasHeader: true
    }
  },
  created(){

    this.hasHeader = !(this.$route.fullPath == '/reader' 
                          || this.$route.fullPath == '/login'
                          || this.$route.fullPath == '/register');
    
  },
  beforeUpdate(){

    this.hasHeader = !(this.$route.fullPath == '/reader' 
                          || this.$route.fullPath == '/login'
                          || this.$route.fullPath == '/register');
                          
  }

}
</script>


<style lang="scss">
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to{
  opacity: 0;
}
</style>
