<template>
    <div>
        <p class="my-quote">
            {{ myQuote }}
        </p>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                quote: 'Το αγαπημένο μου απόσπασμα από το βιβλίο που μου αρέσει'
            }
        },
        computed:{
            myQuote(){
                return `«${this.quote}»`
            }
        }
    }
</script>

<style scoped lang="scss">

.my-quote{
    margin-top: 15px;
    font-style: italic;
}

</style>