<template>
    <div class="user-avatar"></div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped lang="scss">
.user-avatar{
    background-image: url('https://randomuser.me/api/portraits/women/68.jpg');
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}
</style>