<template>
    <div>
        <h1 class="subtitle is-3">Afrodita Greek
            <span :class="classObj"> {{ status }} </span>
        </h1>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                isOnline: true
            }
        },
        computed: {
            status(){
                if (this.isOnline){
                    return 'online'
                } else {
                    return 'был в сети 2ч. назад'
                }
                
            },
            classObj(){
                return {
                    'status status-online': this.isOnline == true ,
                    'status status-offline': this.isOnline == false
                }
            }   
        }
    }
</script>

<style scoped lang="scss">

.status{
    font-size: 14px;

    &-online{
        color: #4caf50;
    }
    &-offline{
        color: #9e9e9e;
        font-style: italic;
    }
}

</style>