<template>
    <section>
            <b-tabs :animated="animated" position="is-centered" class="block">
                
                <b-tab-item label="Обновления" icon="update">
                    <updates-tab></updates-tab>
                </b-tab-item>
                
                <b-tab-item label="Новости" icon="rss">
                    <news-tab></news-tab>
                </b-tab-item>

                <b-tab-item label="Комментарии" icon="message-reply-text">
                    <comments-tab></comments-tab>
                </b-tab-item>

                <b-tab-item label="События" icon="bell-ring">
                    <events-tab></events-tab>
                </b-tab-item>
            </b-tabs>
    </section>
</template>

<script>
    import eventsTab from './events/_eventsTab.vue'
    import commentsTab from './comments/_commentsTab.vue'
    import newsTab from './news/_newsTab.vue'
    import updatesTab from './updates/_updatesTab.vue'

    export default {
        components: {
            eventsTab,
            commentsTab,
            newsTab,
            updatesTab
        },
        data(){
            return {
                animated: false
            }
        }
    }
</script>

<style scoped>
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to{
  opacity: 0;
}
</style>