<template>
    <div class="users-indicators-block">

        <b-tooltip 
            label="Нравится другим пользователям" 
            position="is-bottom"
            type="is-dark">
            <span class="user-indicator">
                <b-icon icon="heart" class="icon-likes"></b-icon>
                {{ likes }}
            </span>
        </b-tooltip>

        <b-tooltip 
            label="Прочитано серий" 
            position="is-bottom"
            type="is-dark">
            <span class="user-indicator">
                <b-icon icon="book-open-page-variant" class="icon-books"></b-icon>
                {{ read }}
            </span>
        </b-tooltip>

        <b-tooltip 
            label="Репутация" 
            position="is-bottom"
            type="is-dark">
            <span class="user-indicator">
                <b-icon icon="star" class="icon-reputation"></b-icon>
                {{ reputation }}
            </span>
        </b-tooltip>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                likes: 22,
                read: 13,
                reputation: 223
            }
        }
    }
</script>

<style scoped lang="scss">

.user-indicator{
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.users-indicators-block{
    flex: 2;
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}

.icon{
    &-likes{
        color: #e62739;
    }
    &-books{
        color: #6a5750;
    }
    &-reputation{
        color: #e6af4b;
    }
}

</style>