<template>
    <div class="columns profile-header">
        <div class="column is-6 is-offset-3">
            <div class="columns">
                <div class="column is-4">
                    <profile-avatar></profile-avatar>
                </div>
                <div class="column is-8 profile-name">
                    <profile-username></profile-username>
                    <my-quote></my-quote>
                    <users-indicators></users-indicators>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import profileAvatar from './_profileAvatar'
    import profileUsername from './_profileUsername'
    import myQuote from './_myQuote'
    import usersIndicators from './_usersIndicators'

    export default {
        components: {
            profileAvatar,
            profileUsername,
            myQuote,
            usersIndicators
        }
    }
</script>

<style scoped lang="scss">

.profile-header{
    margin-top: 50px;
}

.profile-name{
    display: flex;
    flex-direction: column;
}

</style>